
body
{
	background: url(../gfx/bar-bg.png) repeat-y;
	margin: 0px;
	padding: 0px;
}

div
{
	font-family: Arial, Sans-Serif;
	color: #555;
	font-size: 14px;
}

a
{
	color: #109fe6;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

.master
{
	width: 100%;
}

.master .cell
{
	vertical-align: top;
	padding: 0px;
}

.bar
{
	width: 202px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.bar .header
{
	background: url(../gfx/bar-head.png);
	width: 202px;
	height: 75px;	
}

.bar .content
{
	margin: 15px 0px 0px 15px;
}

.bar .menu
{
	margin: 0px 0px 10px 0px;
}

.bar .menu .title
{
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

.bar .menu a
{
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}

.bar .menu a:hover
{
	text-decoration: underline;
}

.bar a.selected
{
	padding: 0px 0px 0px 0px;
	background: url(../gfx/active.png) no-repeat;
	width: 187px;
	height: 27px;
	color: #109fe6;
	margin: -5px 0px -5px -15px;
	padding: 11px 0px 0px 15px;
}

.page
{
	padding: 20px 30px 30px 30px;
}

.page .title
{
	font-size: 26px;
	color: #0d8bca;
	margin: 0px 0px 0px 0px;
	border-bottom: 1px solid #d2eaf5;
	padding: 0px 0px 5px 0px;
}

.page .description
{
	margin: 0px 0px 10px 0px;
	padding: 20px 15px 0px 15px;
}

.page .description .title
{
	font-size: 20px;
	color: #117ab6;
	border: none;
	margin-bottom: 10px;
	font-weight: bold;
}

.page .description .text
{
	color: #444;
}

.chapter
{
	border-bottom: 1px solid #d2eaf5;
	padding: 20px 15px 20px 15px;
}

.chapter .title
{
	font-size: 20px;
	color: #117ab6;
	border: none;
	margin-bottom: 10px;
	font-weight: bold;	
}

.section
{
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
}

.section .title
{
	font-size: 16px;
	color: #0d8bca;
	margin: 0px 0px 5px 0px;
	border: none;
	padding: 0;
	font-weight: normal;
}

.foot
{
	padding: 20px;
	font-size: 12px;
	text-align: center;
	color: #3a5664;
	margin-top: 5px;
}

.foot a
{
	font-size: 10px;
}

.list
{
	border: 1px solid #cce0ea;	
}

.list .space
{
	height: 6px;
}

.cluster
{
}

.cluster .item
{
}

.cluster .item .name
{
	padding-right: 10px;
	font-style: italic;
}

.cluster .item .desc
{
}

.data
{
	padding: 5px;
}

.data .name
{
	color: #109fe6;
	padding-right: 10px;
}

.data .name a
{
	color: #109fe6;
	text-decoration: none;
}

.data .name a:hover
{
	text-decoration: underline;
}

.data .last
{
	border-bottom: none;
}

.data .desc
{
	color: #666;
}

.data .separator
{
	height: 5px;
}

.example
{
	margin-bottom: 10px;
}

.example .title {
}

.example .code
{
	font-size: 13px;

}

.synopsis
{
	border: 1px solid #d1d9fd;
	background: #f1f9fd;
	font-size: 13px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	line-height: 1.1;
	font-family: monospace;
}


code
{
	display: block;
	border: 1px solid #d1d9fd;
	background: #f1f9fd;
	font-size: 13px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.1;
	font-family: monospace;
}


.example .title
{
	font-size: 14px;
	margin: 0px;
	padding: 5px 10px 10px 10px;
	font-weight: bold;
}

.syx {
	font-family: monospace;
	color: #333;
}

.syx .keyword
{
	color: #0d8bca;
	font-weight: bold;
}

.syx .comment
{
	color: #888;
	font-weight: normal;
}

.syx .string
{
	color: #008000;
}

.syx .number
{
	color: red;
}

.syx .operator {
	color: #000;
}

.syx ol {
	margin: 0px;
	list-style-type: decimal;
	list-style-position: outside;
}

.syx li 
{
	border-left: 1px solid #d1d9fd;
	padding-left: 10px;
	background: #f1f9fd;
}