img
{
  border: none;
}

body
{
	background: #fff url(../gfx/bg.png) repeat-x;
	margin: 0px 0px 5px 0px;
}

a:active, a:link, a:visited {
	color: #555;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

div
{
 font-family: Arial, Verdana, Sans-Serif;
 font-size: 12px;
 color: #555;
}

.breaker
{
  clear: both;
}

#wrap
{
  width: 819px;
  margin-left: auto;
  margin-right: auto;
  background: url(../gfx/mbg.png) repeat-y;
}

#wrap #head
{
}

#wrap #head #rainbow
{
  width: 819px;
  height: 134px;
  background: url(../gfx/head_rainbow.png) no-repeat;
}

#wrap #head #rainbow #sun
{
  width: 155px;
  height: 131px;
  float: right;
  background: url(../gfx/sun.gif) no-repeat;

}

#wrap #head #body
{
  min-height: 600px;
  width: 819px;
  background: url(../gfx/body.png) no-repeat;
}

#wrap #head #body #left
{

  width: 225px;
  float: left;
  margin: 88px 0px 0px 31px;
}

/** 
** MENU! 
**/

#wrap #head #body #left #menu a:hover
{
 text-decoration: none;
}

#wrap #head #body #left #menu a:hover
{
 text-decoration: none;
}


#wrap #head #body #left .menu_item_large
{
 padding: 22px 25px 0px 25px;
 border-bottom: 1px solid #e2e3e4;
 height: 41px;
}

#wrap #head #body #left .menu_item_large .image
{
  width: 19px;
  height: 28px;
  background: url(../gfx/aroow3.png) no-repeat;
  float: right;
  margin: 0px 0px 0px 10px;
}

#wrap #head #body #left .menu_item_large .text
{
 font-size: 14px;
 color: #86add1;
 font-weight: bold;
 text-align: right;
}

#wrap #head #body #left .menu_item_large .sub_text
{
 font-size: 10px;
 color: #5884ad;
 text-align: right;
}

/***
* DOWNLOAD BUTTON STUFF!
***/

#wrap #head #body #left #menu #download:hover .text
{
	color: #045c9f;
}

#wrap #head #body #left #menu #download:hover .sub_text
{
	color: red;
}

#wrap #head #body #left #menu #download:hover .menu_item_large .image
{
	background: url(../gfx/aroow3_hover.png) no-repeat;
}


#wrap #head #body #left .menu_item_medium
{
 padding: 8px 25px 5px 25px;
 border-bottom: 1px solid #e2e3e4;
 height: 22px;
 font-weight: bold;
 text-align: right;
 font-size: 14px;
 color: #86add1;
}

#wrap #head #body #left .menu_item_medium .text
{
}


#wrap #head #body #right
{

  width: 510px;
  float: right;
  padding-top: 50px;

  padding-right: 30px;
}

#wrap #head #body #right .title
{
      font-size: 18px;
      color: #818181;
      margin-bottom: 23px;
}

#wrap #head #body #right .text
{
      margin-bottom: 30px;
      color: #757575;
}

#wrap #head #body #right .date
{
      color: #a0a0a0;
      font-size: 10px;
}


#wrap #bottom
{
  width: 819px;
  height: 26px;
  background: url(../gfx/bottom.png) no-repeat;
}

#subwrap
{
  width: 819px;
  margin-left: auto;
  margin-right: auto;
}

#subwrap #copyright
{
      font-size: 10px;
      color: #bebebe;
      float: left;
      margin-left: 45px;
}

#subwrap #links
{
      float: right;
      margin-right: 20px;
}

.ss_box
{
 width: 221px;
 float: left;
 background: url(../gfx/ss_box_bg.png) repeat-y;
 margin: 0px 15px 15px 17px;
}

.ss_box .top
{
 height: 7px;
 background: url(../gfx/ss_box_top.png) no-repeat;
}

.ss_box img
{
  margin: 0px 0px 0px 11px;
  z-index: 1;
}

.ss_box .bot
{
 height: 7px;
 background: url(../gfx/ss_box_bot.png) no-repeat;
}

.ss_box .caption
{
 font-size: 10px;
 color: #a5a5a5;
 margin: 3px 9px 3px 13px;
 height: auto;
}

.ss_box .image_info_active, .ss_box .image_info_inactive
{
 width: 190px;
 height: 140px;
 background: #ffffff;
 z-index: 0;
 margin: 5px 0px -150px 11px;
 position: relative;
 font-size: 10px;
 padding: 5px;
}

.ss_box .image_info_active
{
 opacity: 0.8;
}

.ss_box .image_info_active .title
{
  opacity: 1.0;
  color: #555 !important;
  margin: 0px 0px 5px 0px !important;
}

.ss_box .image_info_active .date
{
  opacity: 1.0;
}

.ss_box .image_info_inactive
{
 opacity: 0.0;
}

.newstitle
{
  font-weight: bold;
  color: #757575;
}



.feature_list li
{
  margin-bottom: 3px;
}

.feature_list .title
{
 color: #555 !important;
 font-weight: bold;
 font-size: 12px !important;
 margin: 0px 0px 0px 0px !important;
}

.feature_list .subtext
{
 font-size: 12px;
 color: #777 !important;
}

.page_selector
{
	clear: both;
	text-align: center;
	color: #474747;
}

.page_selector .prev_next
{
	font-weight: bold;
}

.page_selector .page
{
	text-decoration: none;
	padding: 2px;
}

.page_selector .page:hover
{
	text-decoration: none;
	padding: 2px;
	color: #fff;
	background-color: #c6c6c6;
}

.page_selector .page_selected
{
	padding: 2px;
	color: white;
	background-color: #b6b6b6;
}

/*******************************************************************************
* CODE
*******************************************************************************/

.code
{
	border: 1px solid #ddd;
	margin: 5px 0px 5px 0px;
	background-color: #f7faff;
}

.code .header
{
	font-size: 9px;
	border-bottom: 1px dashed #ddd;
	color: #999;
	padding: 3px;
}

.code .header .filename
{
	color: #777;
}

.code .content
{
	padding: 5px;
	font-size: 11px;
}

/*******************************************************************************
* TEXT MENU
*******************************************************************************/
.textmenu
{
	border: 1px solid #ddd;
	margin: 5px 0px 5px 0px;
}

.textmenu .header
{
	font-size: 12px;
	font-weight: bold;

	padding: 5px;
}

.textmenu .items a:hover
{
	text-decoration: none;
}

.textmenu .items .item
{
	border-top: 1px solid #eee;
	padding: 3px;
}


.textmenu .items .item:hover
{
	color: white;
	background-color: #7eb853;
}

/*******************************************************************************
* PROJECT
*******************************************************************************/

.project
{
  clear: both;
  border-top: 1px solid #ddd;
  padding: 5px 0px 7px 0px;

}

.project .data
{
  width: 240px;
  float: left;
  padding: 7px 0px 0px 7px;
}

.project .data .header
{
  font-size: 14px;
  font-weight: bold;
  color: #818181;
  margin-bottom: 5px;
}

.project .ss_box 
{
  float: right;
  margin-bottom: 0px;
}

.project .textmenu
{
  margin-top: 10px;
  border-top: none;
}



